HACKWEEK_APPLICATION/TeamsApplication/TeamsApplication/Service References/TeamService/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:56695/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:56695/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:56695/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/TeamService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ITeamsService_ListTeam_InputMessage">
    <wsdl:part name="parameters" element="tns:ListTeam" />
  </wsdl:message>
  <wsdl:message name="ITeamsService_ListTeam_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListTeamResponse" />
  </wsdl:message>
  <wsdl:message name="ITeamsService_AddTeam_InputMessage">
    <wsdl:part name="parameters" element="tns:AddTeam" />
  </wsdl:message>
  <wsdl:message name="ITeamsService_AddTeam_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddTeamResponse" />
  </wsdl:message>
  <wsdl:message name="ITeamsService_DeleteTeam_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteTeam" />
  </wsdl:message>
  <wsdl:message name="ITeamsService_DeleteTeam_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteTeamResponse" />
  </wsdl:message>
  <wsdl:portType name="ITeamsService">
    <wsdl:operation name="ListTeam">
      <wsdl:input wsaw:Action="http://tempuri.org/ITeamsService/ListTeam" message="tns:ITeamsService_ListTeam_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITeamsService/ListTeamResponse" message="tns:ITeamsService_ListTeam_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddTeam">
      <wsdl:input wsaw:Action="http://tempuri.org/ITeamsService/AddTeam" message="tns:ITeamsService_AddTeam_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITeamsService/AddTeamResponse" message="tns:ITeamsService_AddTeam_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteTeam">
      <wsdl:input wsaw:Action="http://tempuri.org/ITeamsService/DeleteTeam" message="tns:ITeamsService_DeleteTeam_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITeamsService/DeleteTeamResponse" message="tns:ITeamsService_DeleteTeam_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ITeamsService" type="tns:ITeamsService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ListTeam">
      <soap:operation soapAction="http://tempuri.org/ITeamsService/ListTeam" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddTeam">
      <soap:operation soapAction="http://tempuri.org/ITeamsService/AddTeam" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteTeam">
      <soap:operation soapAction="http://tempuri.org/ITeamsService/DeleteTeam" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_ITeamsService" binding="tns:BasicHttpBinding_ITeamsService">
      <soap:address location="http://localhost:56695/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>