HACKWEEK_APPLICATION/TeamsApplication/TeamsApplication/Service References/TeamService/Service11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/TeamService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/TeamService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfSVCTeam">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SVCTeam" nillable="true" type="tns:SVCTeam" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSVCTeam" nillable="true" type="tns:ArrayOfSVCTeam" />
  <xs:complexType name="SVCTeam">
    <xs:sequence>
      <xs:element minOccurs="0" name="Capacity" type="xs:int" />
      <xs:element minOccurs="0" name="City" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="Phone" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StadiumName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TeamName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SVCTeam" nillable="true" type="tns:SVCTeam" />
</xs:schema>