HACKWEEK_APPLICATION/TeamsApplication/TeamsApplication/Service References/TeamService/Service12.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:56695/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/TeamService" />
  <xs:element name="ListTeam">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListTeamResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/TeamService" minOccurs="0" name="ListTeamResult" nillable="true" type="q1:ArrayOfSVCTeam" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddTeam">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/TeamService" minOccurs="0" name="team" nillable="true" type="q2:SVCTeam" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddTeamResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddTeamResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteTeam">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TeamID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteTeamResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteTeamResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>